
<ul class="nav navbar-nav">
    <li class="nav-item">
        @Html.ActionLink("Бронирование", "RoomListUser", "User", null, new { @class = "btn btn-secondary" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Мои заказы", "OrderList", "User",null, new { @class = "btn btn-secondary" })
    </li>
</ul>